body {
    background-color: #28221f;
    color: #ffffff;
    font-family: arial;
    width: max-content;
    height: max-content;
}
a, .azu {
    color: #5555dd
}
.cuca {
    width: 360px;
}
button, input {
    background-color: #38322f;
    color: #ffffff;
    border-width: 0px;
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 3px;
}
button {
    font-weight: bold;
}
button:hover, input:hover, input:focus-visible {
    background-color: #48423f;
    outline: none;
}
button:active {
    background-color: #38322f;
}

/* https://stackoverflow.com/a/45040337 */
#carisia {
    background-image: url('carisia.png');
    width: 128px;
    height: 128px;
    animation: carisia 0.2s steps(11) 1 paused;
}
@keyframes carisia {
    100% { background-position: -1408px; }
}

@counter-style numeros {
    system: numeric;
    symbols: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
    suffix: "";
}
#tabla {
    counter-reset: puesto;
}
#tabla td:first-child:before {
    counter-increment: puesto;
    content: counter(puesto, numeros);
}
#tabla tr:nth-child(1) td:first-child:before {
    content: url("cucaoro2.png");
}
#tabla tr:nth-child(2) td:first-child:before {
    content: url("cucaplata2.png");
}
#tabla tr:nth-child(3) td:first-child:before {
    content: url("cucabronce2.png");
}
td {
  padding-right: 10px;
  padding-left: 10px;
}
tr:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) td:first-child {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}
table {
  border-collapse: collapse;
}
tr:not(:last-child) {
  border-bottom: 1px solid #48423f;
}
.tablafuera {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  background-color: #38322f;
  width: max-content;
  height: max-content;
}
